VITE_SUPABASE_URL=https://mmywrkrmwichahpegshv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1teXdya3Jtd2ljaGFocGVnc2h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MzYzOTEsImV4cCI6MjA4ODUxMjM5MX0.PmMJMrcjBCoclcwF1kyAAP1v9ugOjBmGVsmHBBsEYcI
VITE_API_URL=http://localhost:3001
